doctype html
html
  head
    title Ayush Dance Academy
    block scripts
    block style 
  body
    nav#navbar 
       ul 
        #logo 
            img(src="/static/img/women.png")
            p ADA 
            li #[a(href="/") home ]
            li #[a(href="/") about]
            li #[a(href="/") services]
            li #[a(href="/contact") contact us]

    block content
    footer#footer 
        | Copyright © 2021 AyushDanceAcademy.com  | All right reserved.
      
